@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.recipe-title {
    font-size: 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.img-with-text {
    text-align: center;
    width: 200px;
    margin: 15px;
    padding: 35px;
}

.img-with-text img {
    display: flex;
    margin: 0 auto;
}

.photo {
    width: 250px;
    height: auto;
    padding: 10px;
}